body {
    width: 100%;
}

img {
    padding: 20px;
    display: block;
    margin: auto;
}

button {
    width: 50px;
    height: 40px;
    margin-right: 50px;
}

#controls {
    display: flex;
    width: 100px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

#gridSizeInput {
    width: 60px;
}

#grid {
    height: 800px;
    width: 800px;
    margin-top: 20px;
    border: 1px solid black;
    margin: auto;
}

.cell {
    display: inline-block;
}


